body{
    background-color: #0D1A2D;
    min-height: 100vh;
  

}

.card{
    position: absolute;
    margin: auto;
    inset: 0;
    background-color: #15273F;
    width: 350px;
    height: 600px;
    padding: 18px;
    border-radius: 16px;
    box-shadow:  -2px 7px 6px 16px rgba(0, 0, 0, 10%);
}

img{
    width: 100%;
    border-radius: 16px;
}

h2{
    color: white;
}

p{
    color: #5F6B80;
    font-size: 20px;
}